*{
    margin: 0px;
    padding: 0px;
}

h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
}

.left{
    float: left;
}

.right{
    float: right;
}

.top{
    margin-top: 10px;
}

.hide{
    display: none;
}

.header{
    width: 100%;
    height: 60px;
    background-color: #f7f7f7;
}

.header__logo{
    width: 20%;
    height: 100%;
    text-align: center;
    line-height: 60px;
}

.header__logo span{
    font-size: 20px;
    font-weight: bold;
}

.header__text{
    width: 30%;
    height: 100%;
    text-align: left;
    line-height: 60px;
}

.header__exit{
    width: 47%;
    height: 100%;
    text-align: right;
    line-height: 60px;
}

.wrap{
    width: 900px;
    margin: 20px auto 0;

}

.wrap__head a{
    display: inline-block;
    height: 30px;
    font-size: 16px;
    text-decoration: none;
    color: #f7f7f7;
    background-color: #2aabd2;
    padding: 5px;
    border-radius: 5px;
}

.info{
    margin-top: 15px;
}

/*模态对话框学生*/
.shade{
    position: fixed;
    top: 0 ;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    opacity: 0.6;
    z-index: 9;
}
.model{
    position: absolute;
    text-align: center;
    width: 600px;
    height: 400px;
    background-color: #e3e3e3;
    left: 50%;
    top: 50%;
    margin-top: -300px;
    margin-left: -300px;
}

.model__wrap{
    width: 60%;
    margin: 30px auto 0;
}

.model__form{
    margin-top: 10px;
}