.show{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}
.box{
    width: 90%;
    margin: 0 auto;
}
.box-item{
    width: 33.3%;
    height: 120px;
    background-color: #8c8c8c;
    text-align: center;
    border-right: 2px solid #5cb85c;
    border-bottom: 2px solid #5cb85c;
}
.icon{
    width: 100%;
    height: 50%;
    text-align: center;
}
.icon i{
    margin-top: 20px;
}
.text{
    width: 100%;
    height: 50%;
    text-align: center;
}
.text span{
    font-size: 18px;
    font-weight: bold;
    color: #e3e3e3;
    margin-top: 10px;
    transition: linear 0.3s;
}
.box-item:hover.box-item .text span{
    color: orange;
}
.box:after{
    content: '';
    display: block;
    clear: both;
}
