*{
    margin: 0;
    padding: 0;
}
h1,h2,h3,h4{
    margin: 0;
    padding: 0;
}
.left{
    float: left;
}
.right{
    float: right;
}
.active{
    color: orange;
}
a{
    color: #ffffff;
    cursor: pointer;
}
a:hover{
    color: orange;
    text-decoration: none;
}
ul li{
    list-style: none;
}
i {
    font-size: 12px;
}
.header{
    width: 100%;
    height: 60px;
    /* background-color: rgb(72, 142, 233); */
    background-color: #204d74;
    position: fixed;
    top: 0;
    left: 0;
}
.logo{
    width: 20%;
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    line-height: 60px;
}
.message{
    width: 70%;
    text-align: right;
    overflow: hidden;
}
.message a{
    display: inline-block;
    /* width: 80px; */
    height: 60px;
    cursor: pointer;
    text-align: center;
    line-height: 60px;
    padding: 0 5px;
}
.info{
    width: 10%;
    color: rgb(65, 226, 105);
    position: relative;
    text-align: right;
}
.info img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    /* border: 1px solid #ffffff; */
    border: transparent;
    /* margin: 5px 20px 5px 0; */
    margin-right:20px;
    cursor: pointer;
}
.operate{
    position: absolute;
    width: 100px;
    background-color: gray;
    text-align: center;
    left: 37px;
}
.operate li{
    line-height: 30px;
}
.operate li a{
    display: inline-block;
    padding: 5px 22px;
}
.main{
    margin-top: 60px;
}
.main:after{
    content: "";
    display: block;
    clear: both;
}
.menu{
    position: fixed;
    top: 60px;
    left: 0;
    width: 15%;
    height: 100%;
    background-color: currentColor;
    /* background-color: #666666; */
    box-shadow: 0 0 10px #313131;
    padding: 10px;
}
.first{
    padding: 10px 0;
    border-bottom: 1px solid #424242;
}
.first a{
    display:inline-block;
    width:100%;
    line-height:20px;
}
.first i{
    font-size:16px;
}
.first span{
    display: inline-block;
    margin-left: 10px;
    font-size: 16px;
}
.firstItem span{
    font-size: 20px;
    text-shadow: 0 0 5px #eee;
}
.firstItem i{
    font-size: 20px;
}
.second{
    margin-left: 50px;
    margin-top: 10px;
}
.second span{
    margin: 0;
}
.iconRotate {
    transform: rotate(90deg);
    transition: transform .5s;
}
.major{
    width: 85%;
    margin-left: 15%;
    padding: 0 60px;
}