*{
    margin: 0;
    padding: 0;
}

body{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}
ul li{
    list-style: none;
}

img {
    vertical-align: middle;
    border-style: none;
}
a{
    text-decoration: none;
    color: #000;
}

.bg{
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-image: url('/static/app01/images/bg1.jpg');
    background-size: auto;
}

.login{
    width: 300px;
    height: 300px;
    background: url("/static/app01/images/bg2.png") center repeat;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -200px;
    margin-left: -150px;
}

.login__head{
    text-align: center;
}

.wrap{
    width: 100%;
    margin-top: 30px;
}

.info{
    text-align: left;
}