*{
    margin: 0;
    padding: 0;
    list-style: none;
}
h1,h2,h3,h4{
    margin: 0;
    padding: 0;
}
a:hover{
    text-decoration: none;
}
.main{
    width: 100%;
    margin-top: 80px;
}
.main_wrap{
    width: 90%;
    position: relative;
    margin: 0 auto;
}
.main_left{
    position: fixed;
    top: 80px;
    left: 5%;
}
.create-btn{
    display: inline-block;
    width: 240px;
    height: 55px;
    background-color: #46b8da;
    text-align: center;
    line-height: 55px;
}
.create-btn span{
    font-size: 16px;
    font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
    font-weight: bold;
    color: white;
}
.survey-ul{
    margin-top: 24px;
    cursor: pointer;
}
.cur{
    background: #ededed;
    font-weight: bold;
}
.folder-btn{
    display: block;
    width: 240px;
    height: 44px;
    line-height: 44px;
    font-size: 14px;
    border-bottom: 1px solid #f8f8f8;
}
.folder-btn:hover{
    background: #ededed;
}
.folder-btn span{
    color: #262626;
}
.index-iconfont{
    margin: 0 12px 0 22px;
    font-size: 20px;
}
.main_right{
    margin: 0 36px 0 25%;
}
.content{
    width: 100%;
}
.content_search{
    width: 100%;
    height: 46px;
    padding-top: 4px;
    margin-bottom: 30px;
    /*line-height: 46px;*/
}
.mysurvey{
    font-size: 18px;
    color: #212529;
    font-weight: bold;
    line-height: 46px;
}
/*搜索框*/
.search{
    border: 1px solid #fff;
    border-radius: 20px;
    background-color: #f8f8f8;
    transition: all 0.5s;
    height: 32px;
    line-height: 32px;
    margin-top: 6px;
}
.search-active{
    border:1px solid rgb(37, 118, 238);
    background-color:#efefef;
}
.search-text{
    width: 50px;
    padding: 2px 3px 1px 3px;
    height: 20px;
    border-radius: 20px;
    border: 0;
    background: transparent;
    outline: 0;
    font-size: 14px;
    text-indent: 10px;
    margin-bottom: 2px;
    transition: all 0.5s;
}
.search-btn{
    width: 30px;
    height: 30px;
    margin-right: 8px;
    border: 0;
    background: url(/static/app01/images/search.png) no-repeat 0 -360px;
    outline: 0;
    text-indent: 99px;
    cursor: pointer;
}
/*状态框*/
.status-cur{
    color: #a6a6a6;
    cursor: default;
}
.spinner-list{
    position: relative;
    cursor: default;
}
.status-box{
    position: absolute;
    padding: 6px 0;
    width: 100px;
    top: 80%;
    left: -25px;
    background-color: #FFF;
    border-radius: 3px;
    border: 1px solid #D9D9D9;
    box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.1);
}
.status-box li a{
    display: block;
    font-size: 13px;
    padding: 0 16px;
    line-height: 33px;
    color: #262626;
    text-align: center;
}
.status-box li a:hover{
    background: #ededed;;
}
.content_search:after{
    content: '';
    display: block;
    clear: both;
}
/*主内容列表*/
.content-items{
    width: 100%;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 4px 0px #F0F0F0;
    border: 1px solid #E6E6E6;
}
.item-top{
    padding: 13px 26px 0;
    font-size: 16px;
    font-weight: 500;
    height: 35px;
    line-height: 22px;
    color: #262626;
}
/*.item-top:after{*/
/*    content: '';*/
/*    display: block;*/
/*    clear: both;*/
/*}*/
.item-tit{
    color: #1F1F1F;
}
.item-id{
    font-size: 12px;
    margin-right: 12px;
}
.item-draft{
    margin-right: 14px;
    font-size: 12px;
    cursor: auto;
}
.item-sheet{
    margin-right: 14px;
    font-size: 12px;
}
.item-data{
    font-size: 12px;
}
.item-bot{
    margin: 13px 26px 0;
    padding: 18px 0 18px;
    border-top: 1px solid #f5f5f5;
}
.process-box{
    height: 36px;
    line-height: 36px;
}
.process-1,.process-2,.process-3{
    margin-right: 14px;
}
.process-box .spinner-list{
    height: 36px;
}
.process-box .spinner-list a{
    color: #7a7a7a;
    font-size: 14px;
}
.icon{
    display: inline-block;
    vertical-align: middle;
}
.design-icon{
    width: 22px;
    height: 28px;
    background: url("/static/app01/images/icon-design.png") no-repeat center;
    background-size: cover;
}
.test-icon{
    width: 22px;
    height: 28px;
    background: url("/static/app01/images/icon-spread.png") no-repeat center;
    background-size: cover;
}
.score-icon{
    width: 22px;
    height: 28px;
    background: url("/static/app01/images/icon-data.png") no-repeat center;
    background-size: cover;
}
.operation-box a{
    display: inline-block;
    height: 36px;
    font-size: 13px;
    color: #7a7a7a;
    margin-left: 22px;
    line-height: 36px;
}
#item-bot-1{
    display: none;
}
#item-bot-2{
    display: none;
}
#item-bot-3{
    display: none;
}
.spinner-list:hover #item-bot-1{
    display: block;
}
.spinner-list:hover #item-bot-2{
    display: block;
}
.spinner-list:hover #item-bot-3{
    display: block;
}
.process-box .spinner-list:hover .spinner-list-a{
    color: #0095FF;
}
.operation-box a:hover span{
    color: #000000;
}
.spinner-list:hover ul{
    display: block;
}
.item-bot:after{
    content: '';
    display: block;
    clear: both;
}
.main_wrap:after{
    content: '';
    display: block;
    clear: both;
}