<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/bootstrap-3.3.7-dist/css/bootstrap.css">
    <link rel="stylesheet" href="/static/font-awesome-4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="/static/app01/css/index.css">
    <title>在线考试系统</title>
</head>
<body>
    <div class="header">
        <div class="wrap">
            <div class="logo">
                <span>在线考试系统</span>
            </div>
            <div class="quit">
                <span>教师:</span>
                <span>管理人</span>
                <button type="button" class="btn btn-danger">退出</button>
            </div>
        </div>
    </div>
    <div class="show">
        <div class="box">
            <a href="{% url 'app01:info' %}">
                <div class="box-item left">
                    <div class="icon"><i class="fa fa-address-card fa-2x" aria-hidden="true"></i></div>
                    <div class="text"><span>个人信息</span></div>
                </div>
            </a>
            <a href="{% url 'app01:test' %}">
                <div class="box-item left">
                    <div class="icon"><i class="fa fa-bed fa-2x" aria-hidden="true"></i></div>
                    <div class="text"><span>考试安排</span></div>
                </div>
            </a>
            <a href="{% url 'app01:score' %}">
                <div class="box-item left">
                    <div class="icon"><i class="fa fa-bicycle fa-2x" aria-hidden="true"></i></div>
                    <div class="text"><span>成绩查询</span></div>
                </div>
            </a>
        </div>
    </div>

</body>
</html>