{% extends 'app01/base.html' %}
{% block css %}
    <link rel="stylesheet" href="/static/app01/css/index.css">
{% endblock %}

                                        {#主页内容#}
{% block show %}
    <div class="show">
        <div class="box">
            {% for item in request.session.qicheng_menu %}
            <a href="{{ item.url }}">
                <div class="box-item left">
                    <div class="icon"><i class="{{ item.icon }}" aria-hidden="true"></i></div>
                    <div class="text"><span>{{ item.title }}</span></div>
                </div>
            </a>
            {% endfor %}
{#            <a href="{% url 'app01:test' %}">#}
{#                <div class="box-item left">#}
{#                    <div class="icon"><i class="fa fa-bed fa-2x" aria-hidden="true"></i></div>#}
{#                    <div class="text"><span>考试安排</span></div>#}
{#                </div>#}
{#            </a>#}
{#            <a href="{% url 'app01:score' %}">#}
{#                <div class="box-item left">#}
{#                    <div class="icon"><i class="fa fa-bicycle fa-2x" aria-hidden="true"></i></div>#}
{#                    <div class="text"><span>成绩查询</span></div>#}
{#                </div>#}
{#            </a>#}
        </div>
    </div>
{% endblock %}