{% extends 'app01/layout.html' %}
{% block title %}考试安排{% endblock %}
{% block content %}
    <div class="content" style="width: 800px;margin: 20px auto;text-align: center">
        <h3>考试安排</h3>
        <table class="table table-hover">
            <thead>
                <tr>
                    <td>序号</td>
                    <td>科目</td>
                    <td>时间</td>
                    <td>状态</td>
                    <td>操作</td>
            </thead>
            <tbody style="color: #1F1F1F">
                {% for paper in test_paper %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ paper.subject }}</td>
                    <td>{{ paper.examtime }}</td>
                    {% if user.roles.first.title == '学生' %}
                        {% if paper.status == '1' %}
                        <td style="color: forestgreen">正在进行</td>
                        <td><a href="{% url 'app01:testprocess' paper.id %}">开始考试</a></td>
                        {% else %}
                        <td style="color: red">已关闭</td>
                        <td><a href="{% url 'app01:score'%}">查看成绩</a></td>
                        {% endif %}
                    {% else %}
                        {% if paper.status == '1' %}
                        <td style="color: forestgreen">正在进行</td>
                        <td><a href="{% url 'app01:testprocess' paper.id %}" style="color: #1F1F1F">模拟考试</a>
                            |
                            <a href="{% url "app01:closepaper" paper.id %}" style="color: #1F1F1F">关闭试卷</a>
                        </td>
                        {% else %}
                        <td style="color: red" style="color: #1F1F1F">已关闭</td>
                        <td><a href="{% url 'app01:openpaper' paper.id %}" style="color: #1F1F1F">开启试卷</a></td>
                        {% endif %}
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
{% block js %}
    <script>
        $("#first-2").find(".right").addClass("iconRotate")
        $("#first-2").siblings("ul").css("display","block")
        $("#first-2-1").find("span").css("color","orange")
        $("table").find("a").hover(function (){
            $(this).css("color","orange")
        },function (){
            $(this).css("color","#1F1F1F")
        })
    </script>
{% endblock %}