<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/bootstrap-3.3.7-dist/css/bootstrap.css">
    <link rel="stylesheet" href="/static/font-awesome-4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="/static/app01/css/base.css">
    <link rel="stylesheet" href="/static/app01/css/writepaper.css">
    <script src="/static/jquery-3.4.1.js"></script>
    <title>编写试卷</title>
</head>
<body>
    <div class="header" style="position: fixed;top: 0;left: 0;z-index: 99;">
        <div class="left">
            <span class="kscount">
                <span>
                    试卷总分:
                    <strong>0</strong>
                </span>
                &nbsp&nbsp|&nbsp&nbsp
                <span>
                    试卷题目数:
                    <span>0</span>
                </span>
            </span>
        </div>
        <div class="right" style="font-size: 0;">
            <a href="" class="newBtn preview">
                <i class="fa fa-eye" aria-hidden="true"></i>
                <span>预览</span>
            </a>
            <a href="" class="newBtn overedit">
                <i></i>
                <span>完成编辑</span>
            </a>
        </div>
    </div>
    {# 主内容 #}
    <div class="paper-create">
        <div class="paper-table">
            <ul class="table-style">
                <li class="open">
                    <div class="open-title">
                        <i class="fa fa-address-book iconfont" aria-atomic="true"></i>
                        <span>考生信息</span>
                    </div>
                    <ul class="navlist">
                        <li>
                            <a href="">
                                <i class="fa fa-car" aria-hidden="true"></i>
                                <span>姓名</span></a>
                        </li>
                        <li>
                            <a href="">
                                <i class="fa fa-blind" aria-hidden="true"></i>
                                <span>基本信息</span></a>
                        </li>
                        <li>
                            <a href="">
                                <i class="fa fa-fighter-jet" aria-hidden="true"></i>
                                <span>部门</span></a>
                        </li>
                        <li>
                            <a href="">
                                <i class="fa fa-key" aria-hidden="true"></i>
                                <span>其他信息</span></a>
                        </li>
                    </ul>
                </li>
                <li class="open">
                    <div class="open-title">
                        <i class="fa fa-address-book iconfont" aria-atomic="true"></i>
                        <span>考试题型</span>
                    </div>
                    <ul class="navlist">
                        <li>
                            <a id="uniterm">
                                <i class="fa fa-car" aria-hidden="true"></i>
                                <span>考试单选</span></a>
                        </li>
                        <li>
                            <a href="">
                                <i class="fa fa-blind" aria-hidden="true"></i>
                                <span>考试判断</span></a>
                        </li>
                        <li>
                            <a id="mulsec">
                                <i class="fa fa-fighter-jet" aria-hidden="true"></i>
                                <span>考试多选</span></a>
                        </li>
                        <li>
                            <a href="">
                                <i class="fa fa-key" aria-hidden="true"></i>
                                <span>单项填空</span></a>
                        </li>
                        <li>
                            <a id="subject">
                                <i class="fa fa-key" aria-hidden="true"></i>
                                <span>简答题</span></a>
                        </li>
                        <li>
                            <a href="">
                                <i class="fa fa-key" aria-hidden="true"></i>
                                <span>完形填空</span></a>
                        </li>
                    </ul>
                </li>
                <li class="open">
                    <div class="open-title">
                        <i class="fa fa-address-book iconfont" aria-atomic="true"></i>
                        <span>其他题型</span>
                    </div>
                    <ul class="navlist">
                        <li>
                            <a href="">
                                <i class="fa fa-car" aria-hidden="true"></i>
                                <span>普通单选</span></a>
                        </li>
                        <li>
                            <a href="">
                                <i class="fa fa-blind" aria-hidden="true"></i>
                                <span>普通多选</span></a>
                        </li>
                        <li>
                            <a href="">
                                <i class="fa fa-fighter-jet" aria-hidden="true"></i>
                                <span>填空题</span></a>
                        </li>
                        <li>
                             <a href="">
                                <i class="fa fa-key" aria-hidden="true"></i>
                                <span>未知题型</span></a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="paper-box">
            <div class="paper-edit">
                <div class="paper-head">
                    <h3>数据库原理</h3>
                    <div class="paper-desc">添加问卷说明（可选）</div>
                </div>
                <div class="paper-question" tabindex="0" style="outline: 0">
                {#          js生成页面              #}
                    <script>
                        //生成单项选择
                        function generate_base_radio() {
                            $(".paper-question").append("<div class=\"paper-preview\" tabindex=\"0\" style=\"outline: 0\">\n" +
                                "                        <div class=\"question-title\">\n" +
                                "                             <div class=\"question-topic\" style=\"display: inline-block;font-size: 15px;\">1.</div>"+
                                "                            <strong>哪个sql语句是正确的?</strong>\n" +
                                "                            <span style=\"color: rgb(239, 160, 48);\">(分值:5分)</span>\n" +
                                "                        </div>\n" +
                                "                        <div class=\"question-radio\" id=\"question-radio\">\n" +
                                "                            <ul>\n" +
                                "                                <li class=\"question_active\" id=\"radio-1\">\n" +
                                "                                    <input type=\"radio\">\n" +
                                "                                    <span>选项1</span>&nbsp;&nbsp;\n" +
                                "                                    <label for=\"\">(正确答案)</label>\n" +
                                "                                </li>\n" +
                                "                                <li class=\"\" id=\"radio-2\">\n" +
                                "                                    <input type=\"radio\">\n" +
                                "                                    <span>选项2</span>&nbsp;&nbsp;\n" +
                                "                                    <label for=\"\"></label>\n" +
                                "                                </li>\n" +
                                "                            </ul>\n" +
                                "                        </div><div class=\"radio-edit hide\" id=\"radio-edit\">\n" +
                                "                            <div class=\"icon\"></div>\n" +
                                "                            <div class=\"radio-container\">\n" +
                                "                                <textarea name=\"\" id=\"\"  rows=\"3\" class=\"form-control\" placeholder=\"请输入标题\">哪个sql语句是正确的?</textarea>\n" +
                                "                            </div>\n" +
                                "                            <div class=\"radio-container\">\n" +
                                "                                <span><b>题目分数:</b></span>&nbsp;&nbsp;\n" +
                                "                                <select name=\"\" id=\"\" style=\"overflow: scroll\">\n" +
                                "                                    <option value=\"\">1</option>\n" +
                                "                                    <option value=\"\">2</option>\n" +
                                "                                    <option value=\"\">2.5</option>\n" +
                                "                                    <option value=\"\">3</option>\n" +
                                "                                    <option value=\"\">3.5</option>\n" +
                                "                                    <option value=\"\">4</option>\n" +
                                "                                    <option value=\"\">4.5</option>\n" +
                                "                                    <option value=\"\" selected>5</option>\n" +
                                "                                    <option value=\"\">5.5</option>\n" +
                                "                                    <option value=\"\">6</option>\n" +
                                "                                    <option value=\"\">10</option>\n" +
                                "                                    <option value=\"\">10.5</option>\n" +
                                "                                    <option value=\"\">11</option>\n" +
                                "                                    <option value=\"\">11.5</option>\n" +
                                "                                </select>\n" +
                                "                            </div>\n" +
                                "                            <div class=\"radio-container\">\n" +
                                "                                <table class=\"table table-hover table-striped\">\n" +
                                "                                    <thead>\n" +
                                "                                        <tr>\n" +
                                "                                            <td style=\"text-align: left\">选项文字</td>\n" +
                                "                                            <td>图片</td>\n" +
                                "                                            <td>说明</td>\n" +
                                "                                            <td>正确答案</td>\n" +
                                "                                            <td>其他操作</td>\n" +
                                "                                        </tr>\n" +
                                "                                    </thead>\n" +
                                "                                    <tbody>\n" +
                                "                                        <tr id=\"edit-1\">\n" +
                                "                                            <td style=\"text-align: left\">\n" +
                                "                                                <strong>A选项:</strong>\n" +
                                "                                                <input type=\"text\" class=\"form-control\" style=\"display: inline-block;width: 70%\" value='选项1'>\n" +
                                "                                                &nbsp;<span class=\"design-icon design-add\"></span>\n" +
                                "                                                <span class=\"design-icon design-minu\"></span>" +
                                "                                            </td>\n" +
                                "                                            <td><span>图片</span></td>\n" +
                                "                                            <td><span>说明</span></td>\n" +
                                "                                            <td><input type=\"checkbox\" checked></td>\n" +
                                "                                            <td><span>xxx</span></td>\n" +
                                "                                        </tr>\n" +
                                "                                        <tr id=\"edit-2\">\n" +
                                "                                            <td style=\"text-align: left\">\n" +
                                "                                                <strong>B选项:</strong>\n" +
                                "                                                <input type=\"text\" class=\"form-control\" style=\"display: inline-block;width: 70%\" value='选项2'>\n" +
                                "                                                &nbsp;<span class=\"design-icon design-add\"></span>\n" +
                                "                                                <span class=\"design-icon design-minu\"></span>\n" +
                                "                                            </td>\n" +
                                "                                            <td><span>图片</span></td>\n" +
                                "                                            <td><span>说明</span></td>\n" +
                                "                                            <td><input type=\"checkbox\"></td>\n" +
                                "                                            <td><span>xxx</span></td>\n" +
                                "                                        </tr>\n" +
                                "                                    </tbody>\n" +
                                "                                </table>\n" +
                                "                            </div>\n" +
                                "                            <div class=\"radio-container\">\n" +
                                "                                <button class=\"btn btn-success\" value=\"完成编辑\" style=\"width: 100%;height: 40px;font-size: 16px;\">完成编辑</button>\n" +
                                "                            </div>\n" +
                                "                        </div>")
                        }
                        //产生单项编辑题
                        function generate_new_edit(url,v1) {
                            $(url).append("<tr id="+v1+">\n" +
                                "                                            <td style=\"text-align: left\">\n" +
                                "                                                <strong>A选项:</strong>\n" +
                                "                                                <input type=\"text\" class=\"form-control\" style=\"display: inline-block;width: 70%\">\n" +
                                "                                                &nbsp;<span class=\"design-icon design-add\"></span>\n" +
                                "                                                <span class=\"design-icon design-minu\"></span>                                            </td>\n" +
                                "                                            <td><span>图片</span></td>\n" +
                                "                                            <td><span>说明</span></td>\n" +
                                "                                            <td><input type=\"checkbox\"></td>\n" +
                                "                                            <td><span>xxx</span></td>\n" +
                                "                                        </tr>")
                        }
                        //产生新的显示单项
                        function generate_new_radio(url,v1) {
                            $(url).append("<li class=\"\" id="+v1+">\n" +
                                "                                    <input type=\"radio\">\n" +
                                "                                    <span>选项2</span>&nbsp;&nbsp;\n" +
                                "                                    <label for=\"\"></label>\n" +
                                "                                </li>")
                        }
                    </script>
{#                    <div class="paper-preview hide">#}
{#                        <div class="question-title">#}
{#                            <strong>1.</strong>&nbsp;&nbsp;#}
{#                            <strong>哪个sql语句是正确的.....?</strong>#}
{#                            <span style="color: rgb(239, 160, 48);">(分值:5分)</span>#}
{#                        </div>#}
{#                        <div class="question-radio hide" id="question-radio">#}
{#                            <ul>#}
{#                                <li class="question_active">#}
{#                                    <input type="radio">#}
{#                                    <span>选项1</span>&nbsp;&nbsp;#}
{#                                    <label for="">(正确答案)</label>#}
{#                                </li>#}
{#                                <li class="">#}
{#                                    <input type="radio">#}
{#                                    <span>选项2</span>&nbsp;&nbsp;#}
{#                                    <label for=""></label>#}
{#                                </li>#}
{#                                <li class="">#}
{#                                    <input type="radio">#}
{#                                    <span>选项3</span>&nbsp;&nbsp;#}
{#                                    <label for=""></label>#}
{#                                </li>#}
{#                                <li class="">#}
{#                                    <input type="radio">#}
{#                                    <span>选项4</span>&nbsp;&nbsp;#}
{#                                    <label for=""></label>#}
{#                                </li>#}
{#                            </ul>#}
{#                        </div>#}
{#                        <div class="question-radio hide" id="question-mul">#}
{#                            <ul>#}
{#                                <li class="question_active">#}
{#                                    <input type="checkbox">#}
{#                                    <span>选项1</span>&nbsp;&nbsp;#}
{#                                    <label for="">(正确答案)</label>#}
{#                                </li>#}
{#                                <li class="question_active">#}
{#                                    <input type="checkbox">#}
{#                                    <span>选项2</span>&nbsp;&nbsp;#}
{#                                    <label for="">(正确答案)</label>#}
{#                                </li>#}
{#                                <li class="">#}
{#                                    <input type="checkbox">#}
{#                                    <span>选项3</span>&nbsp;&nbsp;#}
{#                                    <label for=""></label>#}
{#                                </li>#}
{#                                <li class="">#}
{#                                    <input type="checkbox">#}
{#                                    <span>选项4</span>&nbsp;&nbsp;#}
{#                                    <label for=""></label>#}
{#                                </li>#}
{#                            </ul>#}
{#                        </div>#}
{#                        <div class="question-radio hide" id="question-sub">#}
{#                            <ul>#}
{#                                <textarea name="" id="" rows="5" class="form-control"></textarea>#}
{#                            </ul>#}
{#                        </div>#}
                        {#              单选          #}
{#                        <div class="radio-edit " id="radio-edit">#}
{#                            <div class="icon"></div>#}
{#                            <div class="radio-container">#}
{#                                <textarea name="" id=""  rows="3" class="form-control" placeholder="请输入标题"></textarea>#}
{#                            </div>#}
{#                            <div class="radio-container">#}
{#                                <span><b>题目分数:</b></span>&nbsp;&nbsp;#}
{#                                <select name="" id="" style="overflow: scroll">#}
{#                                    <option value="">1</option>#}
{#                                    <option value="">2</option>#}
{#                                    <option value="">2.5</option>#}
{#                                    <option value="">3</option>#}
{#                                    <option value="">3.5</option>#}
{#                                    <option value="">4</option>#}
{#                                    <option value="">4.5</option>#}
{#                                    <option value="">5</option>#}
{#                                    <option value="">5.5</option>#}
{#                                    <option value="">6</option>#}
{#                                    <option value="">10</option>#}
{#                                    <option value="">10.5</option>#}
{#                                    <option value="">11</option>#}
{#                                    <option value="">11.5</option>#}
{#                                </select>#}
{#                            </div>#}
{#                            <div class="radio-container">#}
{#                                <table class="table table-hover table-striped">#}
{#                                    <thead>#}
{#                                        <tr>#}
{#                                            <td style="text-align: left">选项文字</td>#}
{#                                            <td>图片</td>#}
{#                                            <td>说明</td>#}
{#                                            <td>正确答案</td>#}
{#                                            <td>其他操作</td>#}
{#                                        </tr>#}
{#                                    </thead>#}
{#                                    <tbody>#}
{#                                        <tr>#}
{#                                            <td style="text-align: left">#}
{#                                                <strong>A选项:</strong>#}
{#                                                <input type="text" class="form-control" style="display: inline-block;width: 70%">#}
{#                                                &nbsp;<span class="design-icon design-add"></span>#}
{#                                                <span class="design-icon design-minu"></span>#}
{#                                            </td>#}
{#                                            <td><span>图片</span></td>#}
{#                                            <td><span>说明</span></td>#}
{#                                            <td><input type="checkbox"></td>#}
{#                                            <td><span>xxx</span></td>#}
{#                                        </tr>#}
{#                                        <tr>#}
{#                                            <td style="text-align: left">#}
{#                                                <strong>B选项:</strong>#}
{#                                                <input type="text" class="form-control" style="display: inline-block;width: 70%">#}
{#                                                &nbsp;<span class="design-icon design-add"></span>#}
{#                                                <span class="design-icon design-minu"></span>#}
{#                                            </td>#}
{#                                            <td><span>图片</span></td>#}
{#                                            <td><span>说明</span></td>#}
{#                                            <td><input type="checkbox"></td>#}
{#                                            <td><span>xxx</span></td>#}
{#                                        </tr>#}
{#                                    </tbody>#}
{#                                </table>#}
{#                            </div>#}
{#                            <div class="radio-container">#}
{#                                <button class="btn btn-success" value="完成编辑" style="width: 100%;height: 40px;font-size: 16px;">完成编辑</button>#}
{#                            </div>#}
{#                        </div>#}
                        {#              多选          #}
{#                        <div class="radio-edit hide" id="mul-edit">#}
{#                            <div class="icon"></div>#}
{#                            <div class="radio-container">#}
{#                                <textarea name="" id="" rows="3" class="form-control" placeholder="请输入标题"></textarea>#}
{#                            </div>#}
{#                            <div class="radio-container">#}
{#                                <span><b>题目分数:</b></span>&nbsp;&nbsp;#}
{#                                <select name="" id="" style="overflow: scroll">#}
{#                                    <option value="">1</option>#}
{#                                    <option value="">2</option>#}
{#                                    <option value="">2.5</option>#}
{#                                    <option value="">3</option>#}
{#                                    <option value="">3.5</option>#}
{#                                    <option value="">4</option>#}
{#                                    <option value="">4.5</option>#}
{#                                    <option value="">5</option>#}
{#                                    <option value="">5.5</option>#}
{#                                    <option value="">6</option>#}
{#                                    <option value="">10</option>#}
{#                                    <option value="">10.5</option>#}
{#                                    <option value="">11</option>#}
{#                                    <option value="">11.5</option>#}
{#                                </select>#}
{#                            </div>#}
{#                            <div class="radio-container">#}
{#                                <table class="table table-hover table-striped">#}
{#                                    <thead>#}
{#                                        <tr>#}
{#                                            <td style="text-align: left">选项文字</td>#}
{#                                            <td>图片</td>#}
{#                                            <td>说明</td>#}
{#                                            <td>正确答案</td>#}
{#                                            <td>其他操作</td>#}
{#                                        </tr>#}
{#                                    </thead>#}
{#                                    <tbody>#}
{#                                        <tr>#}
{#                                            <td style="text-align: left">#}
{#                                                <strong>选项1:</strong>#}
{#                                                <input type="text" class="form-control" style="display: inline-block;width: 70%">#}
{#                                                &nbsp;<span>插入</span><span>删除</span>#}
{#                                            </td>#}
{#                                            <td><span>图片</span></td>#}
{#                                            <td><span>说明</span></td>#}
{#                                            <td><input type="checkbox"></td>#}
{#                                            <td><span>xxx</span></td>#}
{#                                        </tr>#}
{#                                        <tr>#}
{#                                            <td style="text-align: left">#}
{#                                                <strong>选项2:</strong>#}
{#                                                <input type="text" class="form-control" style="display: inline-block;width: 70%">#}
{#                                                &nbsp;<span>插入</span><span>删除</span>#}
{#                                            </td>#}
{#                                            <td><span>图片</span></td>#}
{#                                            <td><span>说明</span></td>#}
{#                                            <td><input type="checkbox"></td>#}
{#                                            <td><span>xxx</span></td>#}
{#                                        </tr>#}
{#                                    </tbody>#}
{#                                </table>#}
{#                            </div>#}
{#                            <div class="radio-container">#}
{#                                <button class="btn btn-success" value="完成编辑" style="width: 100%;height: 40px;font-size: 16px;">完成编辑</button>#}
{#                            </div>#}
{#                        </div>#}
                        {#              主观题          #}
{#                        <div class="radio-edit hide" id="sub-edit">#}
{#                            <div class="icon"></div>#}
{#                            <div class="radio-container">#}
{#                                <textarea name="" id="" rows="3" class="form-control" placeholder="请输入标题"></textarea>#}
{#                            </div>#}
{#                            <div class="radio-container">#}
{#                                <span><b>题目分数:</b></span>&nbsp;&nbsp;#}
{#                                <select name="" id="" style="overflow: scroll">#}
{#                                    <option value="">1</option>#}
{#                                    <option value="">2</option>#}
{#                                    <option value="">2.5</option>#}
{#                                    <option value="">3</option>#}
{#                                    <option value="">3.5</option>#}
{#                                    <option value="">4</option>#}
{#                                    <option value="">4.5</option>#}
{#                                    <option value="">5</option>#}
{#                                    <option value="">5.5</option>#}
{#                                    <option value="">6</option>#}
{#                                    <option value="">10</option>#}
{#                                    <option value="">10.5</option>#}
{#                                    <option value="">11</option>#}
{#                                    <option value="">11.5</option>#}
{#                                </select>#}
{#                            </div>#}
{#                            <div class="radio-container">#}
{#                                <button class="btn btn-success" value="完成编辑" style="width: 100%;height: 40px;font-size: 16px;">完成编辑</button>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
                </div>
            </div>
        </div>
    </div>
    {#  遮罩层  #}
    <div class="shadow hide"></div>
    {#  模态对话框  #}
    <div class="modal_paper hide">
        <div class="modal_wrap">
            <h3>创建考试试卷</h3>
            <div class="form-group" style="margin-top: 35px;">
                <input type="text" class="form-control" placeholder="请输入标题">
            </div>
            <div class="form-group" style="margin-top: 35px;">
                <input type="button" class="btn btn-success" id="create" value="立即创建">
                <input type="button" class="btn btn-danger" id="back" value="取消">
            </div>
        </div>
    </div>


    <script>
        $(function () {

            $(".modal_paper").animate({left:'50%'},500);
            $("#back").click(function () {
                location.href="{% url 'app01:paper' %}"
            });
            $("#create").click(function () {
                $(".modal_paper").addClass('hide');
                $(".shadow").addClass('hide');
            });

            //生成基础单选
            $("#uniterm").click(function () {
                generate_base_radio()        //生成编辑隐藏的单项选择
            });


            function LoadEvent(){
                //删除，添加click事件
                var temp=".question-title,.question-radio"
                $(temp).unbind("click")
                $(temp).on("click",function (){
                    $(temp).siblings(".radio-edit").addClass("hide")
                    $(this).siblings(".radio-edit").removeClass("hide").find("textarea").focus()
                    $(".paper-preview").unbind("blur").blur(function (){
                        console.log("脱离div")
                    })
                    console.log(123)
                })
            }
            function ListenEvent(self){
                $(self).children(".paper-preview").children(".radio-edit").unbind("click input").bind("click input",function (){
                    //当前radio-edit位置
                    var radio_edit=this;
                    //标题联动
                    var textarea=$(this).find("textarea").val()
                    $(this).siblings(".question-title").children("strong").text(textarea)
                    //分数联动
                    $(this).find("select option:selected").click(function (){
                        var score=$(this).text()
                        var score="(分值:"+score+"分)";
                        $(radio_edit).siblings(".question-title").children("span").text(score)
                    })
                    //选项添加联动
                    $(radio_edit).find(".design-add").unbind("click").click(function (){
                        //获取编辑和显示位置
                        var edit_position=$(this).parents("tbody")
                        var radio_position=$(radio_edit).siblings(".question-radio").children("ul")
                        //动态添加
                        var v1="edit-1"
                        var v2="radio-1"
                        generate_new_edit(edit_position,v1)
                        generate_new_radio(radio_position,v2)
                        $(radio_edit).find("tbody>tr").each(function (index,value){
                            v1=v1.replace(/(\d+)/,index+1)
                            $(value).attr("id",v1)
                        })
                        $(radio_position).find("li").each(function (index,value){
                            v2=v2.replace(/(\d+)/,index+1)
                            $(value).attr("id",v2)
                        })
                    })
                    //选项删除联动
                    $(radio_edit).find(".design-minu").unbind("click");
                    $(radio_edit).find(".design-minu").on("click",function () {
                        var id=$(this).parent().parent().attr("id").split("-")[1]
                        id="#"+"radio-"+id
                        $(radio_edit).siblings(".question-radio").find(id).remove()
                        $(this).parent().parent().remove()
                        console.log(id)
                    });
                    //选项文本联动
                    var text=$(radio_edit).find("input[type='text']").each(function (index,value){
                        var edit_text=$(value).val()
                        var id=$(value).parent().parent().attr("id").split("-")[1]
                        var radio_text=$(radio_edit).siblings(".question-radio").find("#radio-"+id).find("span").text(edit_text)
                    })
                    //正确答案联动
                    $(radio_edit).find("input[type='checkbox']").unbind("click").click(function (){
                        var score_id=$(this).parent().parent().attr("id").split("-")[1]
                        var score_show=$(radio_edit).siblings(".question-radio").find("#radio-"+score_id)
                        if(this.checked){
                            var checkbox=$(this).parent().parent().siblings().find("input[type='checkbox']")
                            for(var i=0;i<checkbox.length;i++){
                                checkbox[i].checked=false
                            }
                            score_show.attr("class","question_active")
                            score_show.find("label").text("(正确答案)")
                            score_show.siblings().removeClass("question_active")
                            score_show.siblings().find("label").text("")
                        }else{
                            alert("请设置正在编辑题目的正确答案")
                            console.log(score_show)
                            score_show.removeClass("question_active")
                            score_show.find("label").text("")
                        }
                    })
                })
            }
            function Correct_Topic(self){
                var len=$(self).children(".paper-preview").each(function (index,value){
                    $(value).find(".question-topic").text((index+1))
                })
            }

            /*---------- 等待js加载完成  -----------*/
            $(".paper-question").hover(function (){
                LoadEvent()
                ListenEvent(this)
                Correct_Topic(this)
            })


        //单项选择对应操作
            //$(".paper-question").on("click",function () {

             //   $("#radio-1").bind('input propertychange', function() {
              //      var a = $("#radio-1").val();
              //      console.log(a);
               //     $("#radio_title-1").text(a);
             //   });

              //  $(".paper-preview").click(function () {
               //     $(this).find(".radio-edit").removeClass("hide")
             //   })
          //  })
        })

    </script>
</body>
</html>